<%= form_for(politicalparty) do |f| %>
  <% if politicalparty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politicalparty.errors.count, "error") %> prohibited this politicalparty from being saved:</h2>

      <ul>
      <% politicalparty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
