<p id="notice"><%= notice %></p>

<h1>Politicalparties</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @politicalparties.each do |politicalparty| %>
      <tr>
        <td><%= link_to 'Show', politicalparty %></td>
        <td><%= link_to 'Edit', edit_politicalparty_path(politicalparty) %></td>
        <td><%= link_to 'Destroy', politicalparty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Politicalparty', new_politicalparty_path %>
