<%= form_for(constituency) do |f| %>
  <% if constituency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(constituency.errors.count, "error") %> prohibited this constituency from being saved:</h2>

      <ul>
      <% constituency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
